version: 1.0.{build}

image:
- Visual Studio 2019

configuration:
- Debug
- Release

environment:
  matrix:
  - DBUILD_TESTING: 1
  VCPKG_ROOT: C:\Tools\vcpkg

install:
- cd %VCPKG_ROOT%
- git pull
- .\bootstrap-vcpkg.bat
- .\vcpkg install libusb:x86-windows libusb:x64-windows
- cd %APPVEYOR_BUILD_FOLDER%

cache:
  - '%VCPKG_ROOT%\installed'
  - '%APPVEYOR_BUILD_FOLDER%\build\ExternalData\Objects'

before_build:
- cmd: cmake -H. -B./build -DCMAKE_TOOLCHAIN_FILE=%VCPKG_ROOT%/scripts/buildsystems/vcpkg.cmake -DBUILD_TESTING=%DBUILD_TESTING%

after_build:
- cmd: cd %APPVEYOR_BUILD_FOLDER% && 7z a radio_tool_%CONFIGURATION%_%APPVEYOR_BUILD_VERSION%.zip %APPVEYOR_BUILD_FOLDER%\build\%CONFIGURATION%\*

test_script:
- cmd: cd %APPVEYOR_BUILD_FOLDER%\build && ctest -C %CONFIGURATION% --timeout 600 --output-on-failure

artifacts:
  - path: radio_tool_%CONFIGURATION%_%APPVEYOR_BUILD_VERSION%.zip
    name: %CONFIGURATION%_bin

build:
  verbosity: normal
  project: build/radio_tool.sln